<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" id="title-input" placeholder="Title">
        <input type="text" name="content" id="content-input" placeholder="Content">
        <input type="date" name="date" id="date-input" placeholder="Date">
       
        <input type="submit" value="Add">
    </form>
    <a href="/notes/"><button>All Notes</button></a>
    
</body>
</html>